.task {
  background: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px #cccccc;
  width: 350px;
  margin: 25px;
}

.taskHeader {
  display: flex;
  justify-content: flex-end;
  padding: 7px 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.edit {
  cursor: pointer;
  background-color: #eaf6f6;
  color: #66bfbf;
  padding: 7px;
  font-size: 15px;
  border-radius: 7px;
  border: none;
  width: 110px;
  /* transition: ease-in-out 0.3s; */
  text-align: center;
  font-weight: bold;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.taskTitle {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #66bfbf;
}
.taskDesc {
  font-size: 15px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #8d8daa;
}

.taskFooter {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.taskStatus {
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
  letter-spacing: 1px;
}

.deleteTask {
  cursor: pointer;
  padding: 5px;
  border: none;
  outline: none;
  transition: ease-in-out 0.3s;
  margin-right: 10px;
}

.icon {
  color: #9336b4;
  width: 25px;
  height: 25px;
}

.icon:hover {
  color: rgb(194, 40, 40);
}
